In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pickle
import datetime
from datetime import timedelta
from functools import reduce

%matplotlib inline

# Import local modules
import load_files as lf
import measurement_analysis as ma
import wrangling as wr
import utility as ut
import time

In [73]:
file_path = "/Users/blazejmanczak/Desktop/Q1/DataChallenge3/"
flow_data_DRU, level_data_DRU = lf.get_measurements(file_path + "waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8150")

pickle_in = open("/Users/blazejmanczak/Desktop/Q1/DataChallenge3/ma_df_all", "rb")
df = pickle.load(pickle_in)

level_data = wr.clean_mes_data(df.level_data)
flow_data = wr.clean_mes_data(df.flow_data)

level_data_not_imputed = wr.clean_mes_data(df.level_data)
flow_data_not_imputed = wr.clean_mes_data(df.flow_data)
flow_data_index_timestamp = flow_data_not_imputed.set_index('TimeStamp').copy()

flow_data, level_data = wr.merge_flow_level(flow_data, level_data)

In [19]:
import load_files as lf
import wrangling
import numpy as np
import pandas as pd

In [2]:
flow_data, level_data = lf.get_measurements("D:\DC3\Data\Data 1\sewer_data\data_pump\RG8150\RG8150", convert_time=True)

In [7]:
flow_data, level_data = wrangling.clean_mes_data(flow_data), wrangling.clean_mes_data(level_data)

In [8]:
merged_flow_data, _ = wrangling.merge_flow_level(flow_data, level_data)

In [60]:
merged_flow_data

                  TimeStamp   RG_ID       Value  DataQuality
0       2018-01-01 00:00:05  8150.0  789.470100          1.0
1       2018-01-01 00:00:10  8150.0  781.623800          1.0
2       2018-01-01 00:00:15  8150.0  788.569200          1.0
3       2018-01-01 00:00:20  8150.0  788.704500          1.0
4       2018-01-01 00:00:25  8150.0  789.410400          1.0
5       2018-01-01 00:00:30  8150.0  784.205400          1.0
6       2018-01-01 00:00:35  8150.0  778.151900          1.0
7       2018-01-01 00:00:40  8150.0  782.990600          1.0
8       2018-01-01 00:00:45  8150.0  781.058800          1.0
9       2018-01-01 00:00:50  8150.0  783.236800          1.0
10      2018-01-01 00:00:55  8150.0  787.941100          1.0
11      2018-01-01 00:01:00  8150.0  783.785500          1.0
12      2018-01-01 00:01:05  8150.0  788.164500          1.0
13      2018-01-01 00:01:10  8150.0  786.169700          1.0
14      2018-01-01 00:01:15  8150.0  785.905000          1.0
15      2018-01-01 00:01:20  8150.0  791.113900          1.0
16      2018-01-01 00:01:25  8150.0  787.861300          1.0
17      2018-01-01 00:01:30  8150.0  793.535500          1.0
18      2018-01-01 00:01:35  8150.0  780.900100          1.0
19      2018-01-01 00:01:40  8150.0  784.984500          1.0
20      2018-01-01 00:01:45  8150.0  784.238000          1.0
21      2018-01-01 00:01:50  8150.0  787.854100          1.0
22      2018-01-01 00:01:55  8150.0  784.290500          1.0
23      2018-01-01 00:02:00  8150.0  791.661900          1.0
24      2018-01-01 00:02:05  8150.0  788.677100          1.0
25      2018-01-01 00:02:10  8150.0  786.770300          1.0
26      2018-01-01 00:02:15  8150.0  789.513200          1.0
27      2018-01-01 00:02:20  8150.0  787.225100          1.0
28      2018-01-01 00:02:25  8150.0  784.494500          1.0
29      2018-01-01 00:02:30  8150.0  783.263900          1.0
...                     ...     ...         ...          ...
3305008 2019-08-25 23:19:20  8150.0  191.735800          1.0
3305009 2019-08-25 23:19:25  8150.0  184.527700          1.0
3305010 2019-08-25 23:19:30  8150.0  166.820400          1.0
3305011 2019-08-25 23:19:35  8150.0  148.522200          1.0
3305012 2019-08-25 23:19:40  8150.0  130.842200          1.0
3305013 2019-08-25 23:19:45  8150.0  106.863300          1.0
3305014 2019-08-25 23:19:50  8150.0   89.076600          1.0
3305015 2019-08-25 23:19:55  8150.0   71.372180          1.0
3305016 2019-08-25 23:20:00  8150.0   49.191600          1.0
3305017 2019-08-25 23:20:05  8150.0   27.238690          1.0
3305018 2019-08-25 23:20:10  8150.0    6.682343          1.0
3305019 2019-08-25 23:20:15  8150.0    0.764219          1.0
3305020 2019-08-25 23:20:20  8150.0    0.347216          1.0
3305021 2019-08-25 23:20:45     NaN         NaN          NaN
3305022 2019-08-25 23:21:25     NaN         NaN          NaN
3305023 2019-08-25 23:22:10     NaN         NaN          NaN
3305024 2019-08-25 23:22:55     NaN         NaN          NaN
3305025 2019-08-25 23:23:45     NaN         NaN          NaN
3305026 2019-08-25 23:24:35     NaN         NaN          NaN
3305027 2019-08-25 23:25:35     NaN         NaN          NaN
3305028 2019-08-25 23:26:35     NaN         NaN          NaN
3305029 2019-08-25 23:27:40     NaN         NaN          NaN
3305030 2019-08-25 23:28:45     NaN         NaN          NaN
3305031 2019-08-25 23:29:55     NaN         NaN          NaN
3305032 2019-08-25 23:31:10     NaN         NaN          NaN
3305033 2019-08-25 23:32:35     NaN         NaN          NaN
3305034 2019-08-25 23:34:20     NaN         NaN          NaN
3305035 2019-08-25 23:36:20     NaN         NaN          NaN
3305036 2019-08-25 23:40:25     NaN         NaN          NaN
3305037 2019-08-25 23:49:05     NaN         NaN          NaN

[3305038 rows x 4 columns]

In [20]:
def check_monotonicity(x, epsilon = 3):
    """ 
    Function that checks whether a list is increasing or
    decreasing with an epsilon terms that do not suit the pattern
    """
    # TAKE FIRST DIFFERENCE OF SERIES
    dx = np.diff(x)
    
    # N OF POSITIVE AND NEGATIVE NUMBERS
    positives = int(np.sum(np.array(dx) >= 0, axis=1))
    negatives = int(dx.shape[1] - positives)
    
    # RETURN MONOTONICITY BASED ON DELTA
    if negatives >= dx.shape[1] - epsilon:
        return -1     # Decreasing
    elif positives >= dx.shape[1] - epsilon:
        return 1      # Increasing
    else:
        return 0      # Extremum
   


def calc_monotonicity(data, horizon = 5, epsilon = 3):
    data = data.copy()
    
    data['Window'] = data.apply(lambda x: [data['Value'][x.name-horizon: x.name + horizon + 1]], axis=1)
    data['Monotonicity'] = data.apply(lambda x: check_monotonicity(x['Window'], epsilon = epsilon), axis = 1)
    
    return data

In [29]:
level_data_not_imputed1 = calc_monotonicity(level_data, horizon = 5, epsilon = 4)
level_data_not_imputed1.groupby('Monotonicity').count()

               RG_ID  TimeStamp   Value  DataQuality  Window
Monotonicity
-1            393116     393116  393116       393116  393116
 0             39972      39972   39972        39972   39972
 1            446590     446590  446590       446590  446590

In [30]:
level_data_not_imputed1.tail()

,RG_ID,TimeStamp,Value,DataQuality,Window,Monotonicity
879673,8150,2019-08-25 23:32:35,-0.265857,1,"[[-0.5297388, -0.4754778, -0.4225398, -0.36992...",1
879674,8150,2019-08-25 23:34:20,-0.214729,1,"[[-0.4754778, -0.4225398, -0.369925, -0.318633...",1
879675,8150,2019-08-25 23:36:20,-0.163603,1,"[[-0.4225398, -0.369925, -0.3186331, -0.265857...",1
879676,8150,2019-08-25 23:40:25,-0.112626,1,"[[-0.369925, -0.3186331, -0.2658571, -0.214729...",1
879677,8150,2019-08-25 23:49:05,-0.060029,1,"[[-0.3186331, -0.2658571, -0.2147295, -0.16360...",1

In [55]:
def fill_flow_apply(row, level_data, flow_data, on_level, epsilon = 0.01):
    """ 
    Function used in an apply method in fill flow function.
    It returns the a float prediction for the input as described above.
    
    Note that the solution is much faster if the flow data is indexed by timestamp.
    
    ~~~~~ INPUT  ~~~~~
    row:                  row from apply function 
    on_level:             The on level of the pump. Suggested 95% quantile of level value
    epsilon:              a distance from the level corresponding to the missing flow value to be considered
    timestamp_index_flow: boolean stating if the supplied flow_data has timestamp as an index (Recomennded)
    level_data:           not imputed level data
    flow_data:            not imputed flow data
    """
    level_row = level_data[level_data['TimeStamp'] == row['TimeStamp']]
    
    # RETURN MISSING VALUE IF NO MATCHING TIMESTAMP IN LEVEL DATA
    if len(level_row) == 0:
        return np.nan
    
    # RETURN 0 IF LEVEL IS INCREASING
    is_zero = ((level_row['Monotonicity'] == 1) & (level_row['Value'] < on_level))
    if is_zero.values[0]:
        return 0.0
    
    # AT DECREASING LEVEL OR AROUND EXTREMUM OR ABOVE 
    else:
        # LEVEL AT MISSING DATA POINT OF FLOW DATA
        level_value = level_row['Value'].values[0]
        
        # LOCATE NEARBY TIMESTAMPS
        same_level_timestamps = level_data[(abs(level_data['Value'] - level_value) < epsilon) &
                                           (level_data['Monotonicity'] != 1)]['TimeStamp'] 
        
        
        try:
            # GET FLOW VALUES FROM SIMILAR LEVELS
            flow_values = flow_data.loc[same_level_timestamps]['Value']
        except:
            # RETURN MISSING VALUE IF NO SIMILAR LEVELS FOUND
            return np.nan
            
        # IF TOO MUCH UNCERTAINTY IN FLOW OF SIMILAR LEVEL VALUES RETURN MISSING VALUE
        if np.std(flow_values) > (0.5 * np.mean(flow_values)):
            return np.nan
        # RETURN AVERAGE FLOW OF SIMILAR LEVEL VALUES
        else:
            return np.mean(flow_values)
        
        
def fill_flow(level_data, flow_data, epsilon = 0.01): 
    """
    Function that applies fill_flow_apply (which operates on non-imputed data frames) to the missing values.
    Note that we need the merged data frame of flow and level as well here.
    """
    #level_data = calc_monotonicity(level_data, horizon = 5, epsilon = 4)
    
    # MERGE FLOW AND LEVEL TIMESTAMPS
    #flow_data_imputed, _ = wrangling.merge_flow_level(flow_data, level_data)
    flow_data_imputed = flow_data.copy()
    
    # SELECT ONLY NA-VALUE FLOW DATA
    flow_data_imputed = flow_data_imputed[flow_data_imputed["Value"].isna()]
    print(flow_data["Value"].isna().sum())
    
    #
    flow_data.set_index("TimeStamp", inplace=True)
    
    # CALC MAX LEVEL BOUNDARY
    on_level = np.quantile(level_data['Value'], q = 0.95)
    
    # IMPUTE VALUES
    flow_data_imputed['Value'] = flow_data_imputed.apply(lambda row: fill_flow_apply(row, on_level = on_level,
                                                                                     epsilon = epsilon,
                                                                                     level_data = level_data,
                                                                                     flow_data = flow_data), axis = 1)

    return flow_data

In [57]:
a = merged_flow_data.iloc[-100:].copy()
a_answer = fill_flow(flow_data = a, level_data=level_data_not_imputed1, epsilon= 0.005)

17

In [59]:
a_answer

                      RG_ID       Value  DataQuality
TimeStamp
2019-08-25 23:13:25  8150.0  498.576800          1.0
2019-08-25 23:13:30  8150.0  497.316100          1.0
2019-08-25 23:13:35  8150.0  498.590900          1.0
2019-08-25 23:13:45  8150.0  500.327400          1.0
2019-08-25 23:13:50  8150.0  499.673000          1.0
2019-08-25 23:13:55  8150.0  502.479300          1.0
2019-08-25 23:14:00  8150.0  500.362100          1.0
2019-08-25 23:14:05  8150.0  503.663100          1.0
2019-08-25 23:14:10  8150.0  504.121400          1.0
2019-08-25 23:14:15  8150.0  505.059300          1.0
2019-08-25 23:14:20  8150.0  503.100900          1.0
2019-08-25 23:14:25  8150.0  504.153600          1.0
2019-08-25 23:14:30  8150.0  505.569300          1.0
2019-08-25 23:14:35  8150.0  503.462000          1.0
2019-08-25 23:14:40  8150.0  502.558900          1.0
2019-08-25 23:14:45  8150.0  500.750600          1.0
2019-08-25 23:14:50  8150.0  501.713400          1.0
2019-08-25 23:14:55  8150.0  498.289300          1.0
2019-08-25 23:15:00  8150.0  498.896100          1.0
2019-08-25 23:15:05  8150.0  496.466100          1.0
2019-08-25 23:15:10  8150.0  496.199000          1.0
2019-08-25 23:15:15  8150.0  494.417900          1.0
2019-08-25 23:15:20  8150.0  493.014000          1.0
2019-08-25 23:15:25  8150.0  491.301900          1.0
2019-08-25 23:15:30  8150.0  493.374800          1.0
2019-08-25 23:15:35  8150.0  494.424800          1.0
2019-08-25 23:15:40  8150.0  495.437600          1.0
2019-08-25 23:15:45  8150.0  497.128200          1.0
2019-08-25 23:15:50  8150.0  495.549100          1.0
2019-08-25 23:15:55  8150.0  496.076500          1.0
...                     ...         ...          ...
2019-08-25 23:19:20  8150.0  191.735800          1.0
2019-08-25 23:19:25  8150.0  184.527700          1.0
2019-08-25 23:19:30  8150.0  166.820400          1.0
2019-08-25 23:19:35  8150.0  148.522200          1.0
2019-08-25 23:19:40  8150.0  130.842200          1.0
2019-08-25 23:19:45  8150.0  106.863300          1.0
2019-08-25 23:19:50  8150.0   89.076600          1.0
2019-08-25 23:19:55  8150.0   71.372180          1.0
2019-08-25 23:20:00  8150.0   49.191600          1.0
2019-08-25 23:20:05  8150.0   27.238690          1.0
2019-08-25 23:20:10  8150.0    6.682343          1.0
2019-08-25 23:20:15  8150.0    0.764219          1.0
2019-08-25 23:20:20  8150.0    0.347216          1.0
2019-08-25 23:20:45     NaN         NaN          NaN
2019-08-25 23:21:25     NaN         NaN          NaN
2019-08-25 23:22:10     NaN         NaN          NaN
2019-08-25 23:22:55     NaN         NaN          NaN
2019-08-25 23:23:45     NaN         NaN          NaN
2019-08-25 23:24:35     NaN         NaN          NaN
2019-08-25 23:25:35     NaN         NaN          NaN
2019-08-25 23:26:35     NaN         NaN          NaN
2019-08-25 23:27:40     NaN         NaN          NaN
2019-08-25 23:28:45     NaN         NaN          NaN
2019-08-25 23:29:55     NaN         NaN          NaN
2019-08-25 23:31:10     NaN         NaN          NaN
2019-08-25 23:32:35     NaN         NaN          NaN
2019-08-25 23:34:20     NaN         NaN          NaN
2019-08-25 23:36:20     NaN         NaN          NaN
2019-08-25 23:40:25     NaN         NaN          NaN
2019-08-25 23:49:05     NaN         NaN          NaN

[100 rows x 3 columns]